#set($data = {
    "items" : [
      {
        "id" : "456",
        "firstName" : "clark return",
        "lastName": "trinh",
        "addressId": "43242342234",
        "updatedAt": $util.time.nowISO8601()
      } 
    ]
})
$util.toJson($data)
